I.Functional Requirements:

1.Stitch four images from four different camera together.

2.Implement work division to perform operation.


II.Performance Requirements:

1.FPS>=1

2.Processing speed, parallel data processing withing the limits of RaspberryPi.


III.External Requirements:

1.Output: 1 screen

2.Input: 4 webcams

3.Processing unit: 5 RaspberryPi

4.Communication unit: 1 AP


IV-1.Internal Requirements-Structure:

See Figure 1.

IV-2.Internal Requirements-3D Structure:

Construct a Distortion model -> Apply image to Distortion model.

IV-3.Internal Requirements-Work division Structure:
  

See Figure 2.

V.Limits:

1.Hardware: RaspberryPi 3

2.Programing Language: Python

3.Operating System: Linux

4.Algorithm Library: OpenCV

5.Internet: WAN